<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MadLibs</title>
    <link rel="stylesheet" type="text/css" href="css/madLibs.css">
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="madApp" ng-controller='libCtrl '>
    <header class="header">
        <div class="header-element w25">
            <img class="smiley" src=images/smiley.jpg>
        </div>
        <div class="header-element w75">
            <img class="logo w66" src="images/logo.jpg">
            <h1>Automate This!</h1>
        </div>
    </header>
    <section>
        <label>Choose a Gender: </label>
        <input type="radio" name="gender" ng-model='gender' value='male' ng-click='genderMal()'>
        <label>Male</label>
        <input type="radio" name="gender" ng-model='gender' value='female' ng-click='genderFem()'>
        <label>Female</label>

        <h3>Provide the following words:</h3>
        <form ng-submit='submit()'>


            <ul>
                <li class="input-list" ng-switch="gender">
                    <input type='text' required ng-switch-when="male" ng-model="madData.name" placeholder="Male Name" value="john">
                    <input type='text' required ng-switch-when="female" ng-model="madData.name" placeholder="Female Name" value="jane">
                </li>
                <li class="input-list">
                    <input type='text' required ng-model="madData.jobTitle" placeholder="Job title">
                </li>
                <li class="input-list">
                    <input type='text' required ng-model="madData.tediousTask" placeholder="Tedious task">
                </li>
                <li class="input-list">
                    <input type='text' required ng-model="madData.dirtyTask" placeholder="Dirty task">
                </li>
                <li class="input-list">
                    <input type='text' required ng-model="madData.celebrity" placeholder="Celebrity">
                </li>
                <li class="input-list">
                    <input type='text' required ng-model="madData.uselessSkill" placeholder="Useless skill">
                </li>
                <li class="input-list">
                    <input type='text' required ng-model="madData.obnoxiousCelebrity" placeholder="Obnoxious celebrity">
                </li>
                <li class="input-list">
                    <input type='text' required ng-model="madData.hugeNumber" placeholder="Huge number">
                </li>
                <li class="input-list">
                    <input type='text' required ng-model="madData.adjective" placeholder="Adjective">
                </li>
            </ul>
            <input type='submit' value='Generate MadLib'>
        </form>
    </section>
    <section ng-show="shower">
        <p>{{madData.name}} was a {{madData.jobTitle}} who loved technology. Although {{heShe}} loved parts of {{hisHer}} job, {{heShe}} absolutely hated {{madData.tediousTask}} and {{madData.dirtyTask}}. So, {{madData.femaleName}} met with {{hisHer}} life mentor {{madData.celebrity}} who told {{himHer}} to learn how to {{madData.uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{madData.uselessSkill}} so {{heShe}} studied programming instead. </p>
        <p>What a great decision! With {{hisHer}} new skills, {{madData.femaleName}} built a(n) {{madData.adjective}} robot named {{madData.obnoxiousCelebrity}} that not only loved {{madData.dirtyTask}} but did it {{madData.hugeNumber}} times faster. </p>
    </section>
</body>

</html>
